<footer class="bg-gray-800 py-12 px-4">
  <div class="max-w-7xl mx-auto sm:flex sm:flex-row-reverse justify-between">
    <ul
      class="space-y-2.5 gap-x-14 justify-end items-center sm:space-y-0 sm:flex"
    >
      <li>
        <a href="#services" class="text-sm text-white font-semibold block"
          >Services</a
        >
      </li>
      <li>
        <a href="#coverage" class="text-sm text-white font-semibold block"
          >Area Coverage</a
        >
      </li>
      <li>
        <a href="#contact" class="text-sm text-white font-semibold block"
          >Contact</a
        >
      </li>
    </ul>
    <div class="mt-6 sm:mt-0">
      <div class="w-[140px] h-[40px] bg-black flex justify-center items-center">
        <span class="text-white">LOGO</span>
      </div>
      <address class="mt-4.5 text-white not-italic text-sm/6 font-semibold">
        (555) 555-5555<br />
        contact@mywebsite.com
      </address>
    </div>
  </div>
</footer>
