<footer class="bg-gray-800 py-12 px-4">
  <div class="max-w-7xl mx-auto sm:flex sm:flex-row-reverse justify-between">
    <ul
      class="space-y-2.5 gap-x-14 justify-end items-center sm:space-y-0 sm:flex"
    >
      <li>
        <a href="#services" class="px-1 -mx-1 text-sm text-white font-semibold block rounded-md focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
          >Services</a
        >
      </li>
      <li>
        <a href="#coverage" class="px-1 -mx-1 text-sm text-white font-semibold block rounded-md focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
          >Area Coverage</a
        >
      </li>
      <li>
        <a href="#contact" class="px-1 -mx-1 text-sm text-white font-semibold block rounded-md focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
          >Contact</a
        >
      </li>
    </ul>
    <div class="mt-6 sm:mt-0">
      <div class="w-[140px] h-[40px] bg-black flex justify-center items-center">
        <span class="text-white">LOGO</span>
      </div>
      <address class="mt-4.5 text-white not-italic text-sm/6 font-semibold">
        <a href="{{ metadata.tel.link }}" class="px-1 -mx-1 rounded-md focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">{{ metadata.tel.number }}</a><br />
        <a href="{{ metadata.email.link }}" class="px-1 -mx-1 rounded-md focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">{{ metadata.email.string }}</a>
      </address>
    </div>
  </div>
</footer>
